{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customgroups/view

    View page

    Example context (json):
    {
        "active": true,
        "groupview": false,
        "actionurl": "/",
        "groupurl": "/",
        "applied": false,
        "minmembers": 2,
        "maxmembers": 10,
        "maxmemberspercountry": 3,
        "cancreategroup": true,
        "hasapplycap": true,
        "canapplygroups": true,
        "creategroupurl": "/",
        "applygroupsurl": "/",
        "groups": [],
        "viewgroupurl": "/"
    }
}}
{{#groupview}}
    <a href="{{{groupurl}}}">
        <i class="fa fa-arrow-left"></i>
        {{#str}} back {{/str}}
    </a>
{{/groupview}}
{{^groupview}}
    <div class="text-right">
        {{#canapplygroups}}
            <a href="{{{applygroupsurl}}}" class="btn btn-info mx-2">
                <i class="fa fa-check"></i>
                {{#str}} applygroups, mod_customgroups {{/str}}
            </a>
        {{/canapplygroups}}
        {{#cancreategroup}}
            <a href="{{{creategroupurl}}}" class="btn btn-secondary mx-2">
                <i class="fa fa-plus"></i>
                {{#str}} creategroup, mod_customgroups {{/str}}
            </a>
        {{/cancreategroup}}
    </div>
    <h2>{{#str}} groups {{/str}}</h2>
{{/groupview}}
{{#applied}}
    <div class="alert alert-info">
        <i class="fa fa-check-circle"></i>
        {{#str}} applied, mod_customgroups {{/str}}
        {{#hasapplycap}}
            <a href="{{{viewgroupurl}}}" class="text-primary"><i class="fa fa-eye"></i> {{#str}} viewgroups, mod_customgroups {{/str}}</a>
        {{/hasapplycap}}
    </div>
{{/applied}}
{{^active}}
    <div class="alert alert-secondary">
        <i class="fa fa-exclamation-triangle"></i>
        {{#str}} inactive, mod_customgroups {{/str}}
    </div>
{{/active}}
{{>mod_customgroups/groups}}
